.card {
  width: 113px;
  height: 170px;
  border-radius: 16px;
  background: white;
  margin: 0px 8px;
  padding: 13px 0px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.card.expanded-0, .card.expanded-1, .card.expanded-2 {
  width: 371px;
  padding: 13px 0px;
}

.card.expanded-0 {
  margin: 0px 20px 0px 280px;
}
.card.expanded-1 {
  margin: 0px 20px;
}
.card.expanded-2 {
  margin: 0px 280px 0px 20px;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 18px;
  color: #555E75;
  transition: all 0.2s ease-in-out;
}


/******* Componentes dentro do card estreito *******/

.profile-image {
  margin-left: 20px;
}

.name.decreased {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
  opacity: 1;

}

.task-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 9px 0px 19px 0px;
}

.task-list li {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px;
  border-radius: 6px;
}

.doing {
  color: #909a4f;
  background-color: #eef3ca;
  transition: all 0.2s ease-in-out;
}
.pending {
  color: #e69143;
  background-color: #f8dec7;
  transition: all 0.2s ease-in-out;
}
.done {
  color: #1558ff;
  background-color: #d0deff;
  transition: all 0.2s ease-in-out;
}

.hiden {
  display: none;
}

/******* Componentes dentro do card expandido *******/

.expanded {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.profile-info.expanded {
  flex-direction: row;
  align-items: center;
  width: 350px;
}

.informations {
  min-width: 250px;
  height: 73px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image.expanded {
  margin-left: 20px;
}

.name.expanded {
  height: 0;
  margin: 0;
  opacity: 0;
}

.fullname {
  font-size: 18px;
  color: #555E75;
}

.cargo {
  font-size: 18px;
  font-weight: 400;
  font-family: 'SF light', sans-serif;
  color: #555E75;
}

.task-list.expanded {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 13px;
}

.task-list.expanded li {
  gap: 5px;
}

.task-list.expanded .doing {
  color: #343741;
  background: #c4d74d;
}
.task-list.expanded .pending {
  color: white;
  background: #e69143;
}
.task-list.expanded .done {
  color: white;
  background: #1558ff;
}

.task-list li p {
  font-family: 'SF light', sans-serif;
}

.task-list li p.expanded {
  text-align: center;
  opacity: 1;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin: 0px 22px;
}

.tasks p {
  font-size: 14px;
  color: #555E75;
  margin-bottom: 12px;
}

.demands {

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.demands li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 55px;
  border-radius: 6px;
  padding: 11px 20px;
  border-left: 6px solid #1558FF;
  font-size: 14px;
  font-family: 'SF light', sans-serif;
  color: #555E75;
  background: #F2F6FF;
}

button {
  width: 100%;
  height: fit-content;
  font-size: 14px;
  color: #1558FF;
  background: none;
  border: none;
  margin: 13px 0px;
}

@media screen and (max-width: 400px) {
  .card {
    width: 110px;
    height: 175px;
    border-radius: 16px;
    background: white;
    margin: 0px 5px;
    padding: 10px 0px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }

  .card.expanded-0, .card.expanded-1, .card.expanded-2 {
    width: 355px;
    padding: 10px 0px;
  }

  .card.expanded-0 {
    margin: 0px 10px 0px 250px;
  }
  .card.expanded-2 {
    margin: 0px 250px 0px 10px;
  }

  .profile-image {
    margin-left: 18px;
  }
  .profile-image.expanded {
    margin-left: 18px;
  }

  .task-list.expanded {
    margin: 13px 0px;
  }
}
