<div class="main">
  <app-navbar></app-navbar>

  <div class="filters">
    <span class="doing"><img ngSrc="fil-green.svg" width="13" height="12"><p>Fazendo</p></span>
    <span class="pending"><img ngSrc="fil-orange.svg" width="13" height="12"><p>Pendente</p></span>
    <span class="done"><img ngSrc="fil-blue.svg" width="13" height="12"><p>Feito</p></span>
  </div>

  <ul class="cards"
  *ngFor="let itemsConjunto of conjunto"
  [ngClass]="{'small': itemsConjunto.length === 2, 'smaller': itemsConjunto.length === 1}"
>
    <li class="card-list" *ngFor="let item of itemsConjunto; let i = index; trackBy: trackByFn">
      <app-card
        (verification)="getVerification($event)"
        (actualCard)="getItem($event)"
        [itemData]="{ index: i, item: item }">
      </app-card>
    </li>
</ul>
</div>
