@font-face {
  font-family: 'SF Compact';
  src: url(../public/SF-Compact-Display-Black.otf) format("opentype");
}
@font-face {
  font-family: 'SF light';
  src: url(../public/SF-Compact-Display-Light.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Compact', sans-serif;
}

html, body {
  width: 100%;
  height: 130%;
}
